
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index2</title>
</head>
<body>
  <div id="app">
    <button v-onclick="vm.openForm()">Open Form</button>
    <h1>{{ 'Nilai a: ' + tampungA }}</h1>
    <h1>{{ 'Rata-rata: ' + b }}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0 ,      
        tampungA: [],
        totalA: "",

      },
      computed : {
        
      },
      methods : {
          openForm : function(){
              this.a = prompt("masukkan nilai a")
              this.a.unshift(this.tampungA)
              this.tampungA = []
             },
          jumlah : function(){
              if (tampungA < 10){
              return this.a = prompt('masukkan nilai a')}

              else{

              }
          },     
          rata2 : function(){
            return 
          },
      }
  })
  </script>
</body>
</html>
