<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
            <input type="text" v-model="kata" placeholder="ketikkan kata kunci" >
        
         <ul v-for="buku in filterteks">
             <li><a v-bind:href="buku.index" target="_blank">{{ buku }}</a></li>
         </ul>
    
    </div>
      
      <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
      <script>
       var vm = new Vue({
          el: '#app',
          data: {
              kata : '',
              books : [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ]
          },     
        methods : {
     
      },

      computed : {
          filterteks(){
            if(this.kata){
                return this.books.filter((buku)=>{
                    return this.kata.tolowercase().split(' ').every(v => buku.index.tolowercase().includes(v))
                })
            }else{
                return this.books;
            }
            }  
          }    
          //maaf kang saya mentok, agak susah ngejarnya selama masuk materi vuejs. masih bingung kalau sudah masuk penerapan, walaupun secara logikanya sudah paham. diperparahnya lagi saya juga dari hari kamis ada pergi keluar kota sampai minggu, jadi waktu pengerjaannya tidak bisa lebih lama dibanding biasanya. mohon maaf sekali lagi kang saya kurang maksimal
  })
  </script>

</body>
</html>